$color-primary: #e9c027;
$color-primary-dark: #483b07;
$color-primary-lighter: #fffbed;

$color-white: #fff;

$color-gray-light: #f5f5f5;
$color-gray-light-2: #efefef;
$color-gray-light-3: #c4c4c4;
$color-gray-light-4: #acacac;

$color-black: #000;
$color-gray-dark: #555;
$color-gray-dark-2: #333;

$color-secondary: #f63638;

$color-danger-bg: #fff0ed;
$color-danger-border: #ff1e00;

$font-primary: "Barlow", sans-serif;

$bp-tab-land: 93.75em;
$bp-tab-port: 75em;
