.bookmarks {
  background: $color-primary;
  padding: 1rem 0;
  position: absolute;
  right: -4rem;
  width: 40rem;
  top: 3rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(3rem);
  transition: all 0.4s ease;
  max-height: 30rem;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 3px;
  z-index: 9;
  &::-webkit-scrollbar {
    display: none;
  }
  .preview {
    &__recipe-item {
      padding: 2rem;
      // margin-bottom: 3rem;
    }
    &__recipe-item:last-of-type {
      margin-bottom: 0rem;
    }
  }
}
